<div class="category-item">
    <img class="category-photo" src="<%=category.icon%>" alt="<%= category.name%>">
    <div class="category-details">
        <a class="category-name" href="/categories/<%=category.id%>">
            <%=payment.name%>
        </a>
       <span>created by:<%=User.find(category.user_id).name%></span>
       <span>created at:<%=category.created_at%></span>
    </div>
    <span>$<%= payment.amount %></span>
</div>
